* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: #434343;
}

:root {
    font-family: 'Finlandica', sans-serif;
    /* max-width: 1400px; */
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.overflow {
    overflow: hidden;
}

.bg-grey {
    color: #434343;
}


/* Navigation */
.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.navlogo {
    width: 155px;
    height: 59px;
    margin: 0px 30px;
}

.column1 {
    width: 400px;
    height: 70vh;
}

.nav {
    margin: 10px;
}

.box-cart-link {
    position: relative;
}

.box-cart-container {
    display: none;
    position: absolute;
    top: 100%;
    right: 25%;
    width: 500px;
    height: 400px;
    background-color: white;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%);
    border-radius: 8px;
    padding: 16px;
    z-index: 100;
    overflow-y: overlay;
    scroll-behavior: smooth;
}

.btn-cart:hover+.box-cart-container,
.box-cart-container:hover {
    display: initial;
}

.box-products-link{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-pills{
    flex-wrap: nowrap;
}

.columnshop {
    display: flex;
    position: fixed;
    background-color: #434343;
    width: 30%;
    margin-left: 70%;
    height: 100%;
}

/* Header */
.header {
    height: 300px;
    background: rgb(67, 67, 67);
    background: radial-gradient(circle, rgba(67, 67, 67, 1) 0%, rgba(235, 74, 90, 1) 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.logo {
    width: 500px;
    height: 500px;
}

.bg-card {
    transition: all 0.25s;
}

.row .bg-card:hover {
    transform: translateY(-10px);
}

.btn-danger {
    background-color: #eb4a5a !important;
    border-color: #f6f6f6;
    transform: #eb4a5a;
    margin-right: 20px;
    border-top-left-radius: 50%;
}

/* footer */
.footer {
    margin-top: 50px;
}

.textfooter {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 180px;
    background: rgb(67, 67, 67);
    background: linear-gradient(90deg, rgba(67, 67, 67, 1) 29%, rgba(249, 250, 252, 1) 100%);
}